
vivado_project/riscv.cache
vivado_project/riscv.runs
vivado_project/riscv.sim
vivado_project/riscv.hw
vivado_project/riscv.ip_user_files
vivado_project/riscv_netlist.edn
vivado_project/riscv_netlist.v
prjxray/
*.obj
*.exp
.build/*

.vs/
x64/

research
yosys/YosysVS.vcxproj.user
/yosys.dll
/share/
yosys-abc.exe
valent.pdb
valent.exe
pthreadVC2.dll
examples/required
fibonacci/.build
